/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.cbecad {
    /* background-color: #06dfd8; */
    padding: 3rem 16rem;
}

/* step3:component Container */
.cbecadContainer {
    /* background-color: aqua; */
    max-width: 1100%;
    margin: auto;

}

/* step4:row1 */
.cbecadBody1 {
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
    /* margin-left: 5rem; */
}

/* step5:column1 */
.cbecadBlock1 {
    /* background-color: yellow; */
}

/* step6:subcolumn1 */
.cbecadBox1 {
    /* background-color: yellowgreen; */
    /* background-color: #fefefe; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* step7:content Container */
.cbecadBox1 p {
    /* background-color: #06dfd8; */
    font-family: var(--fffive);
    font-size: 2.5rem;
    text-align: center;

}

/* step4:row2 */
.cbecadBody2 {
    /* background-color: #ef6666; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 3rem;
   row-gap: 5rem;
   column-gap: 1rem;
}

/* step5:column2 */
.cbecadBlock2 {
    /* background-color: rgb(120, 120, 34); */
    border-radius: 2px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    margin-left: 2rem;
    /* background-color: #504e4e; */
}

/* step6:subcolumn2 */
.cbecadcardHeader {
    /* background-color: yellowgreen; */
    /* background-color: #d77676; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 2rem; */
}

/* step7:content Container */
.cbecadBox1 figure {
    /* background-color: teal; */
}

.cbecadcardHeader {
    /* background-color: brown; */
    width: 100%;
    align-self: 1/1;
    margin-top: 1rem;
    padding: 40px;
    

}

.cbecadcardMain h2 {
    /* background-color: #06dfd8; */
    text-align: center;
    /* padding-top: 2rem; */

}

.cbecadcardMain p {
    /* background-color: aliceblue; */
    font-family: var(--fftertiary);
    color: #7a7a7a;
    font-weight: 400%;
    font-size: 2rem;
    /* padding: 2rem; */
    text-align: center;
}

.cbecadcardMain ul {
    /* background-color: aquamarine; */
}

.cbecadcardMain ul li {
    /* background-olor: violet; */
    text-align: center;
}

/* step5:column3 */
.cbecadBlock3 {
    background-color: #f7f3f3;
    border-radius: 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    margin-left: 2rem;
}

/* step6:subcolumn3 */
.cbecadcardHeader{
    /* background-color: yellowgreen; */
    /* background-color: #9c2222; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* step7:content Container */

.cbecadBox3 figure {
    /* background-color: teal; */
}

.cbecadcardHeader {
    /* background-color: brown; */
    width: 100%;
    align-self: 1/1;
}

.cbecadcardMain h2 {
    /* background-color: #06dfd8; */
    text-align: center;

}

.cbecadcardMain p {
    /* background-color: aliceblue; */
    font-family: var(--fftertiary);
    color: #7a7a7a;
    font-weight: 400%;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.cbecadcardMain ul {
    /* background-color: aquamarine; */
}

.cbecadcardMain ul li {
    /* background-color: #06dfd8; */
    text-align: center;
}

/* step5:column4 */
.cbecadBlock4 {
    /* background-color: yellow; */
    background-color: #f7f3f3;
    border-radius: 2px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    margin-left: 2rem;
    /* background-color: #f8f8f8; */
}

/* step6:subcolumn4 */
.cbecadcardHeader {
    /* background-color: yellowgreen; */
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* step7:content Container */

.cbecadBox4 figure {
    /* background-color: teal; */
}

.cbecadcardHeader {
    /* background-color: brown; */
    width: 100%;
    align-self: 1/1;
}

.cbecadcardMain h2 {
    /* background-color: #06dfd8; */
    text-align: center;

}

.cbecadcardMain p {
    /* background-color: aliceblue; */
    font-family: var(--fftertiary);
    color: #7a7a7a;
    font-weight: 400%;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.cbecadcardMain ul {
    /* background-color: aquamarine; */
}

.cbecadcardMain ul li {
    /* background-color: violet; */
    text-align: center;
}

/* step5:column5 */
.cbecadBlock5 {
    background-color: #f7f3f3;
     border-radius: 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(235, 232, 232, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    margin-left: 2rem;
}

/* step6:subcolumn5 */
.cbecadcardHeader {
    /* background-color: yellowgreen; */
    /* background-color: #fefefe; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* step7:content Container */
.cbecadBox5 figure {
    /* background-color: teal; */
}

.cbecadcardHeader {
    /* background-color: brown; */
    width: 100%;
    align-self: 1/1;
}

.cbecadcardMain h2 {
    /* background-color: #06dfd8; */
    text-align: center;

}

.cbecadcardMain p {
    /* background-color: aliceblue; */
    font-family: var(--fftertiary);
    color: #7a7a7a;
    font-weight: 400%;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.cbecadcardMain ul {
    /* background-color: aquamarine; */
}

.cbecadcardMain ul li {
    /* background-color: violet; */
    text-align: center;
}

/* step5:column6 */
.cbecadBlock6 {
    /* background-color: rgb(201, 113, 167); */
        border-radius: 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    margin-left: 2rem;
}

/* step6:subcolumn6 */
.cbecadBox6 {
    /* background-color: yellowgreen; */
    background-color: #f7f3f3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* step7:content Container */
.cbecadBox6 figure {
    /* background-color: teal; */
}

.cbecadcardHeader {
    /* background-color: brown; */
    width: 100%;
    align-self: 1\1;
}

.cbecadBox6 h2 {
    /* background-color: #06dfd8; */
    text-align: center;

}

.cbecadBox6 p {
    /* background-color: aliceblue; */
    font-family: var(--fftertiary);
    color: #7a7a7a;
    font-weight: 500%;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.cbecadBox6 ul {
    /* background-color: aquamarine; */
}

.cbecadBox6 ul li {
    /* background-color: violet; */
    text-align: center;
}

/* step5:column7 */
.cbecadBlock7 {
    /* background-color: rgb(128, 226, 192); */
        border-radius: 0px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    margin-left: 2rem;
}

/* step6:subcolumn7 */
.cbecadBox7 {
    /* background-color: yellowgreen; */
    background-color: #f7f3f3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* step7:content Container */
.cbecadBox7 figure {
    /* background-color: teal; */
}

.cbecadBox7 figure img {
    /* background-color: brown; */
}

.cbecadBox7 h2 {
    /* background-color: #06dfd8; */

}

.cbecadBox7 p {
    /* background-color: aliceblue; */
    font-family: var(--fftertiary);
    color: #7a7a7a;
    font-weight: 500%;
    font-size: 2rem;
    padding: 2rem;
}

.cbecadBox7 ul {
    /* background-color: aquamarine; */
}

.cbecadBox7 ul li {
    /* background-color: violet; */
}
