/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.navBar {
    /* background-color: #06dfd8; */
    background-color: #424242;

}

/* step3:component Container */
.navContainer {
    /* background-color: aqua; */
    max-width: 1200px;
    margin: auto;

}

/* step4:row1 */
.navBody1 {
    /* background-color: rgb(58, 207, 207); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 1rem 1rem; */
    padding: 0.5rem 0rem;
}

.navBox1 i {
    color: white;
    font-size: 1.4rem;
    margin: 0.3rem;
}

.navBlock2 {
    /* background-color: blue; */
}

.navBox2 {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.navBox2 a {
    font-size: 1rem;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
}

.navBox2 a:hover{
    /* background-color:white; */
    color: rgb(15, 152, 226);
    transition: background-color 0.25 ease;
    border: none;
}

.navBox3 {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    gap: 1rem;
}

/* step4:row2 */
.navInfoBody {
    /* background-color: rgb(197, 0, 219); */
    display: grid;
    grid-template-columns: 4fr 6fr;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 5rem;
}

.navInfoBlock {
    /* background-color: rgb(148, 168, 36); */

}

.navInfoBox {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
}

.navInfoBox1 {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}

.navInfoBox1 a {
    margin: 1.5rem;
}
.navInfoBox1 i{
    margin: 1rem;
}
.links {
    display: flex;
}